<div class="animate__animated animate__fadeInUpBig col-sm-12">
  <div style="text-align: center;">
      <h1 style="font-weight: bold; font-size: 22px; text-decoration: underline">
        Categories
      </h1>
      <p>Our Categories</p>
  </div>
<div class="row">
  <div class="col-sm-3">
    Clothes
    <a href="/clothes">
      <div style="font-size: 30px; width: 50px">
        <img src="/images/categories/clothes.png" alt="Clothes" class="img-responsive" />
      </div>
    </a>
  </div>
  <div class="col-sm-3">
    Cosmetics
    <a href="/cosmetics">
      <div style="font-size: 30px; width: 50px">
        <img
          src="/images/categories/cosmetics.png"
          alt="Clothes"
          class="img-responsive"
        />
      </div>
    </a>
  </div>
  <div class="col-sm-3">
    Electronics
    <a href="/electronics">
      <div style="font-size: 30px; width: 50px">
        <img
          src="/images/categories/electronics.png"
          alt="Clothes"
          class="img-responsive"
        />
      </div>
    </a>
  </div>
  <div class="col-sm-3">
    Shoes
    <a href="/shoes">
      <div style="font-size: 30px; width: 50px">
        <img src="/images/categories/shoes.png" alt="Clothes" class="img-responsive" />
      </div>
    </a>
  </div>
</div>
</div>
