<div class="form-group">
    <label for="<%=id%>" class="col-sm-2 control-label"><%= label %> </label>

    <div class="col-sm-8">
        <textarea name="<%=id%>" class="form-control" id="<%id%> "></textarea>
    </div>
</div>
