<%- include('layouts/header', {"title": "BuyPal | Done shopping cart"}) %>

<div class="col-sm-8" id="root">
	<div class="row">
		<div class="col-sm-12" style="margin-bottom: 10px;">
			<button class="btn btn-primary btn-sm" id="checkout">Order now</button>
		</div>
	</div>

</div>

<script src="/js/axios.min.js"></script>
<script src="/js/app.js"></script>

<%- include('layouts/footer') %>
