<%- include('layouts/header', {"title": "BuyPal | Error "}) %>

<div class="col-sm-8" id="root">
	<div class="row">
		<div class="col-sm-12" style="margin-bottom: 10px;">
			<h1>Error, occured try again</h1>
		</div>
	</div>

</div>

<%- include('layouts/footer') %>
