<%- include('../layouts/header', {"title": "BuyPal | Forget Password", userPage: true}) %>

<% if (typeof account != 'undefined') { %>
    <form action="/user/send_password" method="POST">
        <h1>Username: <%= account.username %> </h1>
        <input type="hidden" value="<%=token%>" name="token">
        <button type="submit" class="btn btn-primary">Send Password</button>
    </form>
    
<% } else {%>
    <h1>Account not found. <a href="/user/forget">Try again</a></h1>
<% } %> 

<%- include('../layouts/footer') %> 