<%- include('../layouts/header', {"title": "BuyPal | About", "isLogged":
isLogged}) %>

<div class="animate__animated animate__fadeInDownBig col-sm-8">
  <h1>ABOUT US</h1>
  <p>
    We are very serious about the overall shopping experience for all our
    customers from the quality of the Our website to the after sales service for
    customers require that extra bit of care.
  </p>
  <p>
    To ensure that the quality of our Our website top notch, we examine each and
    every Shoes right before they are shipped out to the customer. Being in the
    business of selling Our website well over 10 years, we have the ability and
    technical know-how to ensure that all our customers get only the top quality
    Shoes when they purchase from us.
  </p>
  <p>
    Only the most dedicated and professional service officers are deemed capable
    of working for us. We employ very strict screening criteria as well and only
    employ the best and most experienced in the field of customers support. As
    such, all our customers are guaranteed a rapid response time for their
    inquiries as well as top notch service.
  </p>
  <p>
    Our prices are the best in the market as we present all the Our website to
    our customers for very low profit margins.
  </p>
  <p>
    Our dedication to quality and top notch service can be seen from these
    aspects:
  </p>
  <p>
    The pictures provided are the same as the Shoes that we sell to our
    customers
  </p>
  <p>
    We are able to offer the widest selection of Our website on the internet as
    we have been in the business right from the start
  </p>
  <p>
    All inquiries and questions will be answered within 24 hours by our
    professional and courteous customer support team
  </p>
  <p>
    We have amassed a great amount of knowledge and technical expertise over the
    years. If you should have any questions, please feel free to contact us.
  </p>
</div>
<%- include('../layouts/footer') %>
