<%- include('../layouts/header', {"title": "BuyPal | Contact", "isLogged":
isLogged}) %>

<div class="animate__animated animate__fadeInDownBig col-sm-8">
  <h1>Contact</h1>
  <p>
    If you have any further question about your order or our service, please
    feel free to contact us, we will reply you at the first time and do our best
    to help you.
  </p>
  <p>
    For Serving you better, please use the following Contact US form send emails
    to us, all received emails will be responded within 24-36 hours.
  </p>
  <p>
    Please check your email’s Inbox or Spam (Because some of customer’s email
    systems block unfamiliar incoming emails) to avoid miss our response!
  </p>
  <a href="mailto:matusalaermiyas07@gmail.com"> Email </a>
</div>
<%- include('../layouts/footer') %>
