<%- include('../layouts/header', {"title": "BuyPal | FAQ", "isLogged": isLogged}) %>

<div class="animate__animated animate__fadeInDownBig col-sm-8">
    <h1>FAQ</h1>
</div>
<%- include('../layouts/footer') %>
