<%- include('../layouts/header', {"title": "BuyPal | Payments", "isLogged":
isLogged}) %>

<div class="animate__animated animate__fadeInDownBig col-sm-8">
  <h1>PAYMENT</h1>
  <p>Which payment methods do you accept?</p>
  <p>We accept YenePay and Amole at the moment.</p>

  <p>Advantages of using online payment</p>

  <ol>
    <li>
      Safe: Credit Card hides your financial details so you don't have to share
      them online. We also protect your purchases so just in case there's a
      problem, you can get your money back.
    </li>
    <li>
      Fast: Credit Card lets you pay in a few easy clicks. No hassle of getting
      out your wallet or typing your card details into different sites. All you
      need is your email address for quick, easy payment.
    </li>
    <li>
      Everywhere: Credit Card is accepted at thousands of websites, from leading
      brands to small independent retailers. So wherever you shop, look for the
      Credit Card logo to pay the safer, faster way.
    </li>
  </ol>

  <p>
    As for the additional international fees, generally speaking the situation
    rare happens. But if the fees do required, customers need to pay for it.
    Hope for your understanding.
  </p>

  <p>
    We want to remind all customers they are responsible for any local handling
    fees and Intermediary bank handling fees. Therefore, customers should
    confirm total payment amounts with their local bank. If we have received
    your payment, we will give you e-mail to confirm. So after you pay
    successfully, don’t forget to check your email.
  </p>
</div>
<%- include('../layouts/footer') %>
