<%- include('../layouts/header', {"title": "BuyPal | Privacy and Policy", "isLogged": isLogged}) %>

<div class="animate__animated animate__fadeInDownBig col-sm-8">
    <h1>Privacy and Policy</h1>
</div>
<%- include('../layouts/footer') %>
