<%- include('../layouts/header', {"title": "BuyPal | Shipping And Returns", "isLogged": isLogged}) %>

<div class="animate__animated animate__fadeInDownBig col-sm-8">
    <h1>SHIPPING & RETURNS</h1>
    <p>We provide fast transport to more than A hundred countries. Usually all orders are prepared and shipped out and about within 2 working days. Shipping and handling fees rely on the number of items bought and the method of shipping that you choose. Using the level of service you've requested and your distance to our dstribution center, organic beef use an alternate approach to ship your get. Weather delays or other factors beyond our control may influence delivery times and so are uncontrollable.</p>
    
    <section>
        <h2>When will my order ship?</h2>
        After we receive your payment, we would ship the package from warehouse within Twenty four hours and send the tracking number into the e-mail.
    </section>
    
    <section>
        <h2>How can I trace my own order?</h2>
        Once your get is shipped out, you'll receive an email from us. In this electronic mail, there should be the checking information for your bundles as well as the website where you can trace your purchase.
    </section>
    
    <section>
        <h2>Cancellations</h2>
        <p>Should you wish to cancel your own order, you must email us immediately. 25% cancellation price applies. Majority of order placed are dispatched inside 1-2 days from the purchase date. Shipped order placed cannot be cancelled.</p>
    </section>
    
    <section>
        <h2>Returns</h2>
        <p>In the unlikely celebration of manufacturing faults, we would replace/repair the products totally free to the customer. To send back an item, you must email us and inform us of the reason. We will and then provide you with further instructions. Goods must be went back within 8 era of receipt date : unworn and contain every one of the original packaging as well as labels. All transport costs associated with the come back of goods are the duty of the consumer.</p>
    </section>
    
    <section>
        <h2>Exchanges</h2>
        <p>To exchange a product, you should email us and signify of the reason. We will then provide you with more instructions. The goods could be exchanged within 7 days of the receipt date provided they tend to be unworn and in the original problem with all the original presentation and labels. While returning an item with an exchange, please keep your name, address, contact number and instructions are clearly indicated. Just about all shipping costs associated with the particular exchange of goods will be the responsibility of the customer.</p>
    </section>
</div>
<%- include('../layouts/footer')%>
