<%- include('../layouts/header', {"title": "BuyPal | Track order", "isLogged": isLogged}) %>

<div class="animate__animated animate__fadeInDownBig col-sm-8">
    <h1>Track order</h1>
    <p>If you create an account you can track an order, in account section</p>
</div>
<%- include('../layouts/footer')%>
