<%- include('../layouts/header', {"title": "BuyPal | All products", "isLogged": isLogged}) %>

<div class="col-sm-8">
    <%- include('../layouts/tab', {"products": products})  %> 
</div>
<%- include('../layouts/footer', {"page": page, "pages": pages, "currentPage": currentPage}) %>
