<%- include('../layouts/header', {"title": "BuyPal | Search product", "isLogged": isLogged}) %>

<div class="col-sm-8">
    <%- include('../layouts/tab', {"products": matches})  %> 
</div>
<%- include('../layouts/footer') %>
