<%- include('../layouts/header', {"title": "BuyPal | Shoes", "isLogged": isLogged}) %>

<div class="col-sm-8 col-md-offset-1">
    <%- include('../layouts/tab', {"products": products})  %> 
</div>
<%- include('../layouts/footer', {"page": page, "pages": pages, "currentPage": currentPage}) %>
